/*  Start of Base Styles and Mobile Styles    */

/*this is an example of tag selector*/
body {font-family: "Merriweather", "Lora", "Calibri";
    line-height: 1.3em;}

/*this is an example of group selector*/
h1, h2, h3, h4 {font-family: "Zilla Slab", "Times New Roman", sans-serif;}

/*this is an example of compound selctor*/
body li {list-style: none;}

img {max-width: 100%;}

iframe {max-width: 100%;}

p {padding: 2.5px;}

/*this is an example of class selector*/
.gridContain {max-width: 85%;
                margin: auto;
                display: grid;
                grid-template-columns: 100%;}

/*this is an example of class selector*/
.fc {display: grid;
    grid-template-columns: 100%;}

a {text-decoration: none;}

.navbar .icon {display: none;}

.navbar {overflow: hidden;}

/*this is an example of compound selectors*/
.navbar a {display: inline-block;
        color:navy;
        background-color: lemonchiffon;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        margin-top: 1.8em;
        margin-bottom: 0.8em;
        float: right;
        text-decoration: none;
        font-family: "Verdana", sans-serif;}

.navbar a:hover {background-color: royalblue; 
                color:lightgoldenrodyellow;}

.navbar .icon {display: none;}

/*this is an example of margin*/
.town1 {margin-left: 5%;
        margin-right: 16%;
        text-align: left;} 
    
.town2 {margin-left: 16%;
        margin-right: 5%;
        text-align: left;}

.vari {border: 5px round #1338BE;
    box-shadow: 0 0.5em 0.5em #000019;}

.castle, .abbey, .celts, .celtrock {box-shadow: 0 0 2em #121019}

.vari p {font-style: italic;}

/*this is an example of group selector*/
/*Also an example of padding*/
.image1, .image2, .image3 {padding-top: 5px;}

.image1 p, .image2 p, .image3 p {font-style: italic;}

.image1 p a, .image2 p a, .image3 p a {color: royalblue;}

address {max-width: 100%;}

.gridContain a:hover {color: royalblue;
        background-color: blanchedalmond;}

a:visited {color: coral;}

/*Below are examples of tag selectors*/
h1 {font-size: 1.9em;}

h2 {font-size: 1.7em;}

h3 {font-size: 1.4em;}

h4 {font-size: 1.2em;}

/*this is an example of padding*/
footer {padding: 25px;}
        
.fc {background-color: #051094;
    color: lemonchiffon;}

#ft2 a, #ft3 a {color: #FAFAD2;
                font-weight: bold;
                text-align: center;
                padding: 5px;
                font-family: "Verdana", sans-serif;}

img {padding: 1px;}

form {background-color: lemonchiffon;
    border: round 5px gold;}

#formp {font-style: italic;
        color: navy;}

#submit {text-align: center;}

legend {font-weight: bold;
        color: darkturquoise;}

/*there is an example of border*/
#submit {color: crimson;
        background:    #ffff00;
        background:    linear-gradient(#ffff00, #2121c2);
        border:        4px solid #444444;
        border-radius: 10px;
        box-shadow:    0 -7px #1c9b99;
        padding:       20px 45px;
        display:       inline-block;
        font:          italic bold 30px/1 "Calibri", sans-serif;
        text-align:    center;}

/*there is an example of border*/
#label {background-color: #fff;
        border: 1px solid #666;
        color: #000;
        text-align: center;
        display: inline-block;
        cursor: pointer;}

.col4 {text-align: center;
        padding: 20px;}

.col3 {text-align: center;
        padding-left: 102px;
        padding-right: 20px;}

.col1 {text-align: center;
        padding-left: 67px;
        padding-right: 20px;}

.col2 {text-align: center;
        padding-left: 69px;
        padding-right: 20px;}

.col5 {text-align: center;
        padding-left: 70px;
        padding-right: 20px;}

@media screen and (max-width: 600px) {
.navbar a:not(:first-child) {display: none;}
.navbar a.icon {float: right;
                display: block;}
}

@media screen and (max-width: 600px) {
.navbar.responsive {position: relative;}
    
.navbar.responsive a.icon {position: absolute;
                            right: 0;
                            top: 0;}
    
.navbar.responsive a {float: none;
                    display: block;
                    text-align: left;}
}

/*  Start of Tablet Styles  */

@media screen and (min-width: 662px) {
    
    .gridContain {grid-template-columns: repeat(9, 11%);
                    grid-column-gap: 0.4em;
                    grid-row-gap:1.5em;}
    
    .navbar .icon {display: none;}
    
    .vari p {display: inline;}
    
    .logo {grid-column: 1/3;}
    
    .navbar {grid-column: 5/10;}
    
    .heroImg {grid-column: 1/10;}
    
    .begin {grid-column: 1/10;
            text-align: center;}
    
    .header {grid-column: 1/10;
            text-align: center;}
    
    .town1 {grid-column: 1/4;}
    
    .town1Img {grid-column: 5/10;}
    
    .image1 {grid-column: 1/5;}
    
    .image2 {grid-column: 6/10;}
    
    .image3 {grid-column: 3/8;}
    
    .town2Img {grid-column: 1/6;}
    
    .town2 {grid-column: 7/10;}
    
    .burren {grid-column: 1/5;}
    
    .cliffs {grid-column: 6/10;}
    
    .castle {grid-column: 1/5;}
    
    .abbey {grid-column: 6/10;}
    
    .celts {grid-column: 1/5;}
    
    .celtrock {grid-column: 6/10;}
    
    .vari {grid-column: span 4;}
    
    /*Use of margin*/
    .fc {grid-template-columns: repeat(9, 11%);
        grid-column-gap: 2em;
        max-width: 80%;
        margin: auto;}
    
    #ft1 {grid-column: 1/3;}
    
    #ft2 {grid-column: 3/5;}
    
    #ft3 {grid-column: 5/8;}
    
    .form {grid-column: 1/10;}
}

/*  Start of Desktop Styles */

@media screen and (min-width: 992px) {
    
    .gridContain {grid-template-columns: repeat(12, 8.3%);
                    grid-column-gap: 0.4em;
                    grid-row-gap:1.5em;}
    
    .navbar .icon {display: none;}
    
    .vari p {display: inline;}
    
    .logo {grid-column: 1/5;}
    
    .navbar {grid-column: 6/13;}
    
    .heroImg {grid-column: 1/13;}
    
    .begin {grid-column: 1/13;
            text-align: center;}
    
    .header {grid-column: 1/13;
            text-align: center;}
    
    .town1 {grid-column: 4/7;}
    
    .town1Img {grid-column: 7/13;}
    
    .image1 {grid-column: 1/4;}
    
    .image2 {grid-column: 5/8;}
    
    .image3 {grid-column: 9/12;}
    
    .town2Img {grid-column: 1/7;}
    
    .town2 {grid-column: 7/10;}
    
    .burren {grid-column: 1/7;}
    
    .cliffs {grid-column: 7/13;}
    
    .castle {grid-column: 1/4;}
    
    .abbey {grid-column: 4/7;}
    
    .celts {grid-column: 7/10;}
    
    .celtrock {grid-column: 10/13;}
    
    .vari {grid-column: span 2;}
    
    /*Use of margin*/
    .fc {grid-template-columns: repeat(12, 8.3%);
        grid-column-gap: 2em;
        max-width: 80%;
        margin: auto;}
    
    #ft1 {grid-column: 1/4;}
    
    #ft2 {grid-column: 4/6;}
    
    #ft3 {grid-column: 6/9;}
    
    .form {grid-column: 1/13;}
}